.pokemon-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  grid-column: span 1 / span 1;
  position: relative;
  height: 6rem;
  width: 10rem;
  border-radius: 1.2rem;
  padding: 2rem 0.75rem;
  margin: 0.5rem auto;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.name-small {
  text-transform: capitalize;
  font-weight: 700;
  font-size: large;
  color: white;
  margin-bottom: 0.5rem;
}

.type {
  border-radius: 50px;
  filter: brightness(1.085);
  max-width: fit-content;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: small;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
}

.id {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  filter: opacity(0.25);
}

.image {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  z-index: 10;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.05);
}

.tiny-svg {
  position: absolute;
  height: 6.2rem;
  right: 1rem;
  bottom: 0;
  opacity: 0.5;
  z-index: 0;
  margin-bottom: -1rem;
}
