.pokemon-card {
  display: flex;
  flex-direction: column;
  grid-column: span 1 / span 1;
  position: relative;
  /* background-color: #abedc6; */
  height: 6rem;
  width: 10rem;
  border-radius: 1.2rem;
  padding: 2rem 0.75rem;
  margin: 0.5rem auto;
}

.name {
  text-transform: capitalize;
  font-weight: 700;
  font-size: large;
  color: white;
  margin-bottom: 0.5rem;
}

.type {
  border-radius: 50px;
  filter: brightness(1.05);
  max-width: fit-content;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: small;
  text-transform: capitalize;
  /* color: white; */
  /* background-color: #abedc6; */
}

.id {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  filter: opacity(0.25);
}

.image {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  height: 4.5rem;
  width: 4.5rem;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.05);
}
